.linkRedes{
    border: 1px solid white;
    border-radius: 10px;
    padding: .6em 1.5em;
    background-color: transparent;
    width: 80%;
    height: 80%;
    text-align: center;
}
.linkRedes:hover{
    background-color: #fff;
}
.linkRedireccion{
    color: rgb(66, 255, 176);
}
.linkRedireccion:hover{
    color: black;
}
.sizeImage{
        width: 80%;
        height: 80%;
}
.main__input1{
    width: 90%;
    max-width: 500px;
    outline: none;
    border: solid;
    border-color: black;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
    margin: 5% 15%;
}
.main__title1{
    font-size: 2.3rem;
    color: beige;
    font-weight: bold;
}
.main__paragraph1{
    margin: .3em 0;
    color: beige;
}
.main__formulario1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .70em;
    text-align: center;
}
.main1{
    margin: auto;
    width: 40%;
    align-content: center;
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;
    background-image: linear-gradient(to left, #652ec7, #2ef8a0);
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
} 
@keyframes mostrar {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}
.main__input{
    width: 80%;
    max-width: 500px;
    outline: none;
    border: solid transparent;
    background-color: black;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}
.main__input:hover{
    background-color: #652ec7;
    border-color: transparent;
}
.main__input--send{
    background-color: black;
    border-color: black;
    font-weight: 600;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .70em;
    text-align: center;
}